/*common*/
*,*:before,*:after{
    box-sizing:border-box;
}
body{
    font-family: 'Bruno Ace SC', serif;
    color: #000000;
    line-height: 1.5;
}
h1{
    font-size: 128px;
    color: #00FFA3;
}
h3{
    font-size: 20px;
}
.btn{
    text-decoration: none;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.ta-right{
    text-align: right;
}
.ta-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.fd-column{
    flex-direction: column;
}
.fw{
    flex-wrap: wrap;
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aifs{
    align-items: flex-start;
}
.aic{
    align-items: center;
}

/*menu*/
.container{
    max-width: 1296px;
    margin: 0 auto;
}
.container li{
    padding-top: 40px;
}
.container a{
    color: #D1D1D1;
}
.bg-black{
    background: #000000;
}
.mr60{
    margin-right: 60px;
}
.w196{
    width: 196px;
}

/*banner*/
.w636{
    width: 636px;
}
.fz64{
    font-size: 64px;
}
.c-white{
    color: #FFFFFF;
}
.c-black{
    color: #000000;
}
.mr24{
    margin-right: 24px;
}
.ptb72{
    padding-top: 72px;
    padding-bottom: 72px;
}
.ptb160{
    padding-top: 160px;
    padding-bottom: 160px;
}
.contact-me{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 451px;
    width: 185px;
    border-radius: 25px;
}

/*introduction*/
.bg-img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
}
.w526{
    width: 526px;
}
.fz24{
    font-size: 24px;
}
.mb34{
    margin-bottom: 34px;
}

/* about-me*/
.bg-white{
    background: #FFFFFF;
}
.w306{
    width: 306px;
}
.mtb8{
    margin-top: 8px;
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}
.mt36{
    margin-top: 36px;
}
.mtbl{
    margin-top: 160px;
    margin-bottom: 160px;
    margin-left: 134px;
}
.mtb206{
    margin-top: 206px;
    margin-bottom: 206px;
}
.p19{
    padding: 19px;
}
.border{
    border: 1px solid #E3E3E3;
}

/*contact-me*/
.bg-gradient{
    background-image: linear-gradient(to bottom, #050014, #01021E);
}
.mr16{
    margin-right: 16px;
}
.mr20{
    margin-right: 20px;
}
.ptbr{
    padding-top: 128px;
    padding-bottom: 128px;
    margin-right: 120px;
}

/*myproject*/
 .mtb162{
    margin-top: 162px;
    margin-bottom: 162px;
}
.title{
    width: 746px;
    margin-bottom: 12px;
}
.ml550{
    margin-left: 550px;
}
.mb28{
    margin-bottom: 28px;
}
.mb76{
    margin-bottom: 76px;
}
.see-more{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 185px;
    border-radius: 25px; 
}

/*footer*/
.ptb40{
    padding-top: 40px;
    padding-bottom: 40px;
}
